body {
    background-color: #000;
    font-family: Courier, monospace;
    color: #00ff00; /* Set text color to green */
    margin: 0;
    padding: 0;
}

.repl {
    max-width: 800px;
    margin: 0 auto;
    background-color: #000;
    border: 1px solid #00ff00; /* Set border color to green */
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
}

.input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #000;
    border: none;
    border-bottom: 1px solid #00ff00; /* Set input border color to green */
    color: #00ff00; /* Set input text color to green */
}

.output {
    padding: 10px;
    text-align: left;
    background-color: #000;
    color: #00ff00; /* Set output text color to green */
}
